<img class="waveform" ng-if="sound" src="{{ sound.image }}" ng-click="stop()">

<form class="search" ng-submit="searchSound()">
  <input id="searchTerm" class="search__term" placeholder="anything" autofocus
    ng-model="search" ng-trim="false" ng-class="{
      'search__term--no_result': noResult,
      'search__term--searching': searching
    }"
    style="width: {{ searchTermWidth }}px;"><!--

  --><span id="searchGhost" class="search__ghost"></span><!--
  --><span class="search__dot">.</span><!--
  --><span class="search__text">sounds</span><!--
  --><span class="search__dot">.</span><!--
  --><span class="search__text">so</span>
</form>
