
$highlight-color: #690;
$error-color: #930;
$busy-color: #696;

html, body {
  margin: 0;
  padding: 0;
}

body, input {
  font-family: "Roboto", sans-serif;
}

.search {
  position: absolute;
  font-size: 19vw;
  line-height: normal;

  top: 40%;
  margin-top: -20vw;
  height: 40vw;

  > * {
      display: inline-block;
      vertical-align: baseline;
  }

  &__term {
    border: 0 none;
    color: $highlight-color;
    white-space: pre;
    padding: 0;
    margin: 0;
    font-size: 1em;
    outline: 0;
    background: none;

    width: 100vw;

    &--no_result {
      color: $error-color;
    }

    &--searching {
      color: $busy-color;
    }

    transition: color 0.5s;
  }

  &__text {
    color: #555;
  }

  &__dot {
    color: $highlight-color;
  }
}

.waveform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height :100vh;

  // invert the image so it has a white background
  -webkit-filter: invert(100%) grayscale(100%) contrast(5000%) opacity(30%) blur(5px);
  -moz-filter: invert(100%) grayscale(100%) contrast(5000%) opacity(30%) blur(5px);
  filter: invert(100%) grayscale(100%) contrast(5000%) opacity(30%) blur(5px);
}
